.gogContent{
    width:400px;
    height:300px;
    margin:30px auto;
    
    background-color:black ;
}
.gogContent img{
    width:100px;
    height:100px;
    margin-top:20px;
    
}
.gogContent h3{
    background-color:orangered;
    margin-top:20px;
    padding:10px;
    color:white;
}
.gogContent p{
    margin-top:20px;
    color:white;
}

.google{
   text-align: center;

}
.google-button{
    padding-left:10px;
    padding-top:5px;
}